<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.order_with">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"/>
        <activity android:name=".Start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start.NonVoiceVer.NVoiceMenu"/>
        <activity android:name=".Start.NonVoiceVer.NVoiceOrderFinal"/>
        <activity android:name=".Start.VoiceVer.VoiceMenu">
        </activity>
        <activity android:name=".Start.VoiceVer.VoiceSpeakingMenu">
        </activity>
        <activity android:name=".Start.VoiceVer.VoiceSTTOrder"/>

        <receiver android:name=".Start.VoiceVer.HeadsetReceiver">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
            </intent-filter>
        </receiver>
    </application>
</manifest>